## Hi there 👋
[![Medium](https://img.shields.io/badge/%20-00ab6c?color=00ab6c&label=Francisco+Garc%C3%ADa+Sierra&logo=medium&logoColor=white&style=flat-square)](https://medium.com/@franciscodurdingarcia)
[![LinkedIn](https://img.shields.io/badge/%20-0e76a8?color=0e76a8&label=frangsierra&logo=linkedin&logoColor=white&style=flat-square)](https://www.linkedin.com/in/frangsierra)
[![Github contact](https://img.shields.io/badge/%20-f5f5f5?color=f5f5f5&label=Contact%20me%20on%20GitHub&logo=github&logoColor=white&style=flat-square)](https://github.com/frangsierra/frangsierra/issues/new)

------------

Stay awhile and listen! My name is **Francisco Garcia**, also known as *Durdin*. I'm an **Android developer** from **Madrid, Spain 🇪🇸** currently working at [@masmovil](https://github.com/masmovil).

I mainly focus on mobile development using Kotlin, Swift & Java, but I'm also used to work with C, C++, JS, TS or Dart.

I'm a self-taught developer that has grown thanks to all the colleagues I have worked with along the years. Coding is my passion and one of my daily hobbies since I was a kid(thx epic dad!).
I survived to an arrow to my knee shot by Clean architectures and now I'm a first line enjoyer of reactive architectures such as Redux & Flux. Be ready for it if you go deep in my repositories :space_invader:.

------------

## About me
- 🔭 I'm currently working on open-source libs, apps and tools that improve Android development.
- :fire: I'm a Firebase fanboy. Feel free to reach me if you have any doubt about it!
- ⚡ Fun facts:
  - I'm a fitness enthusiast.
  - I'm a LARP(Live Action Role Play) player.
  - Netflix stole my image to design Vesemir on The Witcher: Nightmare of the Wolf.
  - FOR THE HORDE!

## Open source and contributions
### Personal open source projects
| Project  |   Platforms   |  Programming Language(s)  | Latest update | Stars | PRs | Issues |
| -------  | ------------- | ------------------------- | ------------- | ----- | --- | ------ |
{{#openSourceProjects}}
| [{{name}}]({{url}}) | {{platforms}} | {{language}} | {{latestUpdate}} | ![](https://img.shields.io/github/stars/{{repo}}?style=flat-square) | ![](https://img.shields.io/github/issues-pr/{{repo}}?style=flat-square) | ![](https://img.shields.io/github/issues/{{repo}}?style=flat-square)
{{/openSourceProjects}}

### Projects I contribute to
| Project  |   Platforms   |  Programming Language(s)  | Latest update | Stars | PRs | Issues |
| -------  | ------------- | ------------------------- | ------------- | ----- | --- | ------ |
{{#openSourceContributions}}
| [{{name}}](https://github.com/{{repo}}) | {{platforms}} | {{language}} | {{latestUpdate}} | ![](https://img.shields.io/github/stars/{{repo}}?style=flat-square) | ![](https://img.shields.io/github/issues-pr/{{repo}}?style=flat-square) | ![](https://img.shields.io/github/issues/{{repo}}?style=flat-square)
{{/openSourceContributions}}

## Some GitHub stats
Who doesn't love some stats?
> NOTE: the stats include both public and private repository contributions

![Code stats](https://github.com/frangsierra/github-stats/raw/master/generated/overview.svg)
![Top Langs](https://github.com/frangsierra/github-stats/raw/master/generated/languages.svg)

## My latest posts
{{#latestBlogPosts}}
* [{{title}}]({{link}}) written on {{date}}
{{/latestBlogPosts}}

➡️ [More posts here]({{blogUrl}})

## Credits
* _Thanks to [Thomas Guibert's awesome guide to create automated GitHub profile READMEs](https://medium.com/swlh/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91)._
* _Thanks to [Jacob Strieb's github-stats project](https://github.com/jstrieb/github-stats) for the code and language stats' images._
* _Thanks to [Adrian García's best buddy](https://github.com/adriangl/adriangl) for the help and code to setting up this._

------------

_This README is generated automatically thanks to [Github Actions](https://github.com/features/actions) every day_ 

_Latest update: {{latestUpdateDate}}_

_Latest repo version: {{version}}_
